package main

import (
	"fmt"
	"github.com/olegsu/openc"
)

func main() {

	meta := openc.PipelineMetadata{
		Name: "hello-world",
	}

	spec := openc.PipelineSpec{
		Tasks: []openc.Task{
			openc.Task{
					Metadata: openc.TaskMetadata{
						Name: "hello-world",
					},
					Spec: openc.TaskSpec{
						Condition: []openc.Condition{
							openc.Condition{
								Name: "on",
								Func: func(ev *openc.Event, state *openc.State) bool {
									return ev.Metadata.Name == "engine.started"
								},
							},
						},
						Reusable: true,
						Command:  "echo",
						Arguments: []openc.Argument{
							openc.Argument{
								Name:  "hello-world",
								Value: fmt.Sprintf("Hello World"),
							},
						},
					},
				},
		},
	}
	p := openc.Pipeline{
		Metadata: meta,
		Spec:     spec,
	}

	e := openc.NewEngine(&openc.EngineOptions{
		Pipeline:          p,
		WriteStateToFile:  "./logs/state.yaml",
		TaskLogsDirectory: "./logs",
	})
	_ = e.Run()
}